.news {
  margin: 0 auto;
  max-width: 40%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}
.title:hover {
  color: #912020;
  cursor: pointer;
}
.description {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.image {
  /* height: 60vh; */
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

@media (max-width: 800px) {
  .news {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .news {
    max-width: 70%;
  }
  .title {
    font-size: 1.5rem;
  }
  .description {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .news {
    max-width: 80%;
  }
  .title {
    font-size: 1.2rem;
  }
  .description {
    font-size: 1rem;
  }
}
