.news {
  margin: 0 auto;
  max-width: 70%;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0;
  margin-top: 0;
}

.content {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}

.image {
  /* height: 60vh; */
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.link {
  display: block;
  margin-bottom: 3rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #112a46;
}
.link:hover {
  color: #fff;
}

@media (max-width: 800px) {
  .news {
    max-width: 80%;
  }
  .title {
    font-size: 1.7rem;
  }
  .content {
    font-size: 1.4rem;
  }
}
@media (max-width: 500px) {
  .news {
    max-width: 90%;
  }
  .title {
    font-size: 1.5rem;
  }
  .content {
    font-size: 1.2rem;
  }
}
@media (max-width: 400px) {
  .title {
    font-size: 1.2rem;
  }
  .content {
    font-size: 1rem;
  }
}
